<section class="h-100 gradient-form" style="background-color: #1a1e34;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-12">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                       style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">Lycs ALLIO</h4>
                </div>
                <form [formGroup]="registerForm">
                  <div class="form-outline mb-4">
                    <input type="text" formControlName="firstName" id="form2Example1" class="form-control" placeholder="Prenom" />
                    <label class="form-label" for="prenom">Prenom</label>
                  </div><div class="form-outline mb-4">
                  <input type="text" formControlName="lastName" id="form2Example2" class="form-control" placeholder="Nom" />
                  <label class="form-label" for="nom">Nom</label>
                </div>
                  <div class="form-outline mb-4">
                    <input type="text" formControlName="phone" id="form2Example3" class="form-control" placeholder="Telephone" />
                    <label class="form-label" for="tel">Telephone</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" formControlName="adresse" id="form2Example12" class="form-control" placeholder="Adresse" />
                    <label class="form-label" for="addresse">Adresse</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="email" formControlName="email" id="form2Example30" class="form-control" placeholder="Email" />
                    <label class="form-label" for="email">Email</label>
                  </div>
                  <div class="form-outline mb-4">
                  <input type="text" formControlName="name" id="form2Example4" class="form-control" placeholder="Nom Entreprise" />
                  <label class="form-label" for="nomEnt">Nom Entreprise</label>
                </div><div class="form-outline mb-4">
                  <input type="text" formControlName="groupe" id="form2Example5" class="form-control" placeholder="Groupe" />
                  <label class="form-label" for="groupe">Groupe</label>
                </div>
                  <div class="form-outline mb-4">
                  <input type="text" formControlName="sousGroupe" id="form2Example6" class="form-control" placeholder="Sous Groupe" />
                  <label class="form-label" for="sous-groupe">Sous Groupe</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" formControlName="contactRef" id="form2Example7" class="form-control" placeholder="Contact Referent" />
                    <label class="form-label" for="contRef">Contact Ref</label>
                  </div>
                  <div class="form-outline mb-4">
                  <input type="text" formControlName="ninea" id="form2Example9" class="form-control" placeholder="Ninea" />
                  <label class="form-label" for="ninea">Ninea</label>
                </div>
                  <div class="form-outline mb-4">
                    <input type="password" formControlName="password" id="form2Example10" class="form-control" />
                    <label class="form-label" for="password">Mot de passe</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="password" formControlName="password_confirmation" id="form2Example11" class="form-control" />
                    <label class="form-label" for="password_conf">Confirmation Mot de passe</label>
                  </div>
                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" (click)="register()">S'inscrire</button>
                  </div>

                  <div class="form-group">
                    <div class="alert alert-danger" role="alert" *ngIf="password != password_conf">
                      Erreur : {{ errorPasswordMesssage }}
                    </div>
                    </div>
                  <div class="form-group">
                    <div class="alert alert-danger" role="alert" *ngIf="submitted && isRegisterFailed">
                      Erreur : {{ errorMessage }}
                    </div>
                    </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Vous avez dejà un compte ?</p>
                    <button type="button" [routerLink]="['/auth/login']" class="btn btn-outline-danger">Se Connecter</button>
                  </div>

                </form>

              </div>
            </div>
            <!--            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">-->
            <!--              <div class="text-white px-3 py-4 p-md-5 mx-md-4">-->
            <!--                <h4 class="mb-4">We are more than just a company</h4>-->
            <!--                <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
            <!--                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud-->
            <!--                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
            <!--              </div>-->
            <!--            </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
